@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display|Roboto+Mono:400,700&display=swap');

body {
  background-color: #dfdad7;
  font-family: 'Roboto Mono', monospace;
  text-align: center;

}
